.homepage-cur-con{
    display: flex;
    flex-direction: row;
    overflow: scroll;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 30px;
    margin-bottom: 15px;
    gap: 2px;
}
.homepage-cursole-div{
    background: rgba(6,6,23,0.88);
    background: linear-gradient(90deg,rgba(6,6,23,0.6) 0%, #a79f9f 80%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   min-width: 90vw;
    height: 250px;
    flex: 1;
}

.hom-cur-d1{
    background-image:linear-gradient(90deg,rgba(6,6,23,0.9) 0%, rgba(157, 157, 157,0.3) 80%), url('../../Assets/curmobile.jpg');
    padding: 30px;
}
.hom-cur-d2{
    background-image:linear-gradient(90deg,rgba(15, 15, 29, 0.9) 0%, rgba(157, 157, 157,0.1) 80%), url('../../Assets/curaccessories.jpg');
    padding: 30px;
}
.hom-cur-d3{
    background-image:linear-gradient(90deg,rgba(6,6,23,0.9) 0%, rgba(157, 157, 157,0.3) 80%), url('../../Assets/curcomputer.jpg');
    padding: 30px;
}

.hom-cur-d5{
    background-image:linear-gradient(90deg,rgba(6,6,23,0.9) 0%, rgba(157, 157, 157,0.3) 80%), url('../../Assets/menscollection.jpg');
    padding: 30px;
}

.homepage-cursole-div1-c1{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

}

.homepage-cursole-div1-c1>p{
    color: var(--Text, #FAFAFA);
    text-align: center;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.homepage-cursole-div>h1{
    color: var(--Text, #FAFAFA);


    font-family: Inter;
    font-size:2.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 60px; 
    letter-spacing: 1.92px;
}

.shop-now-arrow{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.shop-now-arrow>p{
    color: var(--Text, #FAFAFA);
    text-align: center;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; 
    border: 1px solid white;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
    padding-bottom: 5px;
}


.iphone-icon-img{
    width: 50px;
    height: 50px;
}


.homepage-cur-scon{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.homepage-flash-shopo-now{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.homepage-flash-shopo-now>button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #8E44AD;
    color: white;
    padding: 5px 10px;
    font-size: 1rem;
    font-family: poppins;
    font-weight: 500;
    border-radius: 4px;
    cursor: pointer;
}

.our-products-view-all-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #8E44AD;
    color: white;
    padding: 5px 10px;
    font-size: 1rem;
    font-family: poppins;
    font-weight: 500;
    border-radius: 4px;
    cursor: pointer;
    margin: auto;
    
}

.homepage-flash-shopo-now>button:hover{
    background-color: #5a2172;
}

.homepage-cur-scon>ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;
}

.homepage-cur-scon>ul .cur-inactive{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #a79f9f;
    cursor: pointer;
}

.homepage-cur-scon>ul .cur-active{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color:rgb(27, 141, 240);
    cursor: pointer;
}

.homepage-feat-head{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.homepage-feat-con{
    margin-left: 5%;
    margin-right: 5%;
}

.homepage-feat-head>div{
    width: 25px;
    height: 40px;
    background-color: #8E44AD;
    border-radius: 4px;
}

.homepage-feat-head>h1{
    color: #8E44AD;
    font-family: Poppins;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    text-transform: capitalize;
}

.browse-by-cate-header,.homepage-feat-con>h1{

    font-family: poppins;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; /* 133.333% */
    letter-spacing: 1.44px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.homepage-img-features{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 10px;
}

.homepage-img-features-d1>img{
    width: 100%;
}
.homepage-img-features-d2{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.homepage-img-features-d3{
    width: 100%;
}
.homepage-img-features-d3>img{
    width: 100%;
}
.homepage-img-features-d4{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.homepage-img-features-d4>div{
    width: 100%;
}
.homepage-img-features-d4>div img{
    width: 100%;
}

.enhance-music-homepage{
    width: 1fr;
    margin-left: 5%;
    margin-right: 5%;
    height: 400px;
    background-color: #a79f9f;
    background: url('../../Assets/enhancemusic1.PNG');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 30px;
    margin-bottom: 30px;
}

.enhance-music-homepage>p{
    color: var(--Button1, #0F6);
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    padding: 30px;
}

.enhance-music-homepage>h1{
    color: var(--Text, #FAFAFA);
    font-family: Inter;
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: 1.92px;
    padding: 30px;
    padding-top: 10px;
    padding-bottom: 5px;
}


.browse-by-cate{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.browse-by-cate>hr{
    border-color:rgba(0, 0, 0,0.3);
    margin-top: 25px;
    margin-bottom: 30px;
}

.browse-by-cate-div-part{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
}


.browse-by-cate-div-part>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 150px;
    border: 1px solid rgba(0, 0, 0,0.3);
    margin-top: 20px;
    border-radius: 4px;
}

.browse-by-cate-div-part>div:hover{
    border-radius: 4px;
    background: var(--Secondary-2, #8E44AD);
    box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.05);
    border: #8E44AD;
    cursor: pointer;
}

.browse-by-cate-div-part>div img{
    width:auto;
    height:55px;
}

.browse-by-cate-div-part>div p{
    font-size: 1.2rem;
    font-family: poppins;
    font-weight: 500;
    text-transform: capitalize;
}

.homepage-flash-items{
    margin-left: 5%;
    margin-right: 5%;
}

.flash-item-images{
    width: 270px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.flash-item-images>img{
    width: 100%;
    height: 100%;
    object-fit:contain;
}

.stars-icon-img{
    width: 20px;
    height: 20px;
}

.flash-items-each-card>h3{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.flash-items-all-cards{
    display: flex;
    flex-direction: row;
    overflow: scroll;
    gap: 20px;
    margin-bottom: 30px;
}

.flash-items-each-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.flash-items-each-card h1{
    font-family: Poppins;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    text-transform: capitalize;
    margin-top: 2px;
    margin-bottom: 2px;
}

.flash-items-each-card p{
    color: var(--Secondary-2, #8E44AD);
/* Title/16PX Medium */
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

@media screen and (max-width:425.12345px){
    .homepage-feat-con>h1{
        font-size: 1.6rem;
    }
}


@media screen and ( max-width:349.12345px ){
    .homepage-img-features{
        display: flex;
        flex-direction: column;
        flex: 1;
    }
}



