.products-items-all-cards{
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    gap: 20px;
    margin-bottom: 30px;
    margin-left: 5%;
    
}

.products-items-all-cards>.flash-items-each-card{
    margin-top: 10px;
    margin-bottom: 10px;
}

.flash-item-images{
    position: relative;
}

.product-add-to-cart-btn{
    position: absolute;
    bottom: 0;
    height: 40px;
    background-color: #8E44AD;;
   
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    display: none;
}
.product-add-to-cart-btn>h1{
    color: white;
    font-weight: 500;
    font-size: 1.1rem;
    font-family: poppins;
    text-align: center;
}

.product-add-wishlist{
    position: absolute;
    right: 5px;
    top: 5px;
}

.flash-items-each-card:hover .product-add-to-cart-btn{
    display: flex;
}

.product-select-parts{
    display: flex;
    flex-direction: row;
    align-items:last baseline;
    justify-content: flex-end;
    margin-right: 5%;
    gap: 10px;
}

.product-select-parts>select{
    min-height: 35px;
    padding-left: 5px;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
    cursor: pointer;
}

.product-select-parts>select:focus{
    outline: none;
}

option{
    height: 30px;
}

.products-select-options{
    margin-top: 10px;
    margin-bottom: 10px;
}


.products-select-options-div1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-left: 5%;
    gap: 4px;
}

.products-select-options-div1>img{
    width: auto;
    height: 20px;
}

.products-select-options-div1>input{
    height: 40px;
    padding-left: 5px;
    font-size: 1rem;
    font-family: poppins;
    border: none;
    border-bottom: 1px solid black;
}

.products-select-options-div1 input:focus{
    outline: none;
}

.products-select-options{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.price-range-con{
    width: 90%;
    margin: auto;
    background-color: white;
}

.price-range-min-max{
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   justify-content: flex-start;
}

.price-range-min-max>div h1{
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    font-family:poppins;
    text-transform: capitalize;
}

.price-range-min-max>div div{
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-top: 5px;
    align-items: center;
}

.price-range-min-max>div div input{
    width: 100px;
    height: 40px;
    text-align: center;
    border: none;
    border-bottom: 1px solid black;
}

.price-range-min-max>div div input:focus{
    outline: none;
}



