.addproduct-header h1{
    text-align: center;
    font-size: 1.6rem;
    font-family: poppins;
    font-weight: 600;
    text-transform: capitalize;
    padding-top: 30px;
}

.addproducts-cards{
    padding: 30px;
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: auto;
    background-color:white;
    border-radius: 10px;
    box-shadow: 1px 22px 90px 20px rgba(213,213,213,0.75);
}

.addproducts-cards>div{
    width: 100%;
}

.addproduct-con-inner{
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 10px;
}
.addproduct-con-inner>div{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.addproduct-con-inner>div label{
    text-transform: capitalize;
    font-size: 1.1rem;
    font-weight: 500;
}
.addproduct-con-inner>div input{
    width: 100%;
    height: 35px;
    border: none;
    background-color: rgb(239, 239, 239);
    padding:5px;
    border-radius: 4px;
}

.addproduct-con-inner>div input:focus{
    outline: none;
}

.addproduct-con-inner>div select{
    height: 30px;
    border: none;
    background-color: rgb(239, 239, 239);
}

.addproduct-con-inner>div select:focus{
    outline: none;
}

.addproduct-con{
    margin-bottom: 5%;
}

.addproducts-textarea{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.addproducts-textarea>textarea{
    resize: none;
    width: 90%;
    height: 100px;
    border: none;
    background-color: rgb(239, 239, 239);
    padding: 5px;
}

.addproducts-textarea>textarea:focus{
    outline: none;
}

.addproducts-submit-btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.addproducts-submit-btn>button{
    width: 150px;
    height: 40px;
    border-radius: 2px;
    border: none;
    margin-top: 30px;
    background-color: #8E44AD;
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    letter-spacing: 1px;
    border-radius: 4px;
}

.addproducts-choose-img-div{
    display: flex;
    flex-direction: row;
}

.addproducts-choose-img-div>button{
    background-color: #8E44AD;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
}

