.footer-con{
    background-color: black;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 35px;
    padding-bottom: 20px;
    color: white;
    font-family: poppins;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 40vh;
    gap: 30px;
    
}

.footer-con>div{
    width: 300px;
}

.footer-con>div h1{
    font-size: 1.7rem;
    font-family: poppins;
    font-weight: 600;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.footer-con>div p{
    margin-top: 5px;
    margin-bottom: 5px;
    letter-spacing: 1.5px;
}